In [17]:
# STEP 1: Imports
import pandas as pd

# STEP 2: Load dataset
file_path = r"E:\FY25_Candidates database\FY25_Candidates database.csv"
df = pd.read_csv(file_path)

# STEP 3: Preview data
print("‚úÖ Dataset Loaded!")
print("Shape:", df.shape)
df.head()

‚úÖ Dataset Loaded!
Shape: (43, 37)

,S.No,College Full Name,College City,Roll No / PRN,Prefix,Candidate Name,Gender,Candidate Mobile Number,Alternate Mobile Number,Primary Email ID (College),...,Technonlogies/Skills known,Tech_points,Organization worked with (If Any) Eg: Accenture/KPMG,Prior Experienced (Brief Summary of the work),Total Experienced (In Years),Legal pursuit,Sports,Sports_Points,ExtraCurriculum,ExxCur_Points
0,1,Bharati Vidyapeeth College Of Engineering,Navi Mumbai,2.021020e+15,Mr.,Vinayak Nevage,Male,7400134265,8.898295e+09,nevgevinayak01@gmail.com,...,"HTML,CSS,Python,Bootstrap,SQL,Machine Learning...",45,NaN,NaN,NaN,NO,no,0,no,0
1,2,Bharati Vidyapeeth College Of Engineering,Navi Mumbai,2.021020e+15,Mr.,Mohammed Shoaib Shaikh,Male,9769218473,9.820829e+09,mshoaib.jf@gmail.com,...,"Languages: C\nTechnologies & Frameworks: HTML,...",50,NaN,NaN,NaN,No,no,0,no,0
2,3,Bharati Vidyapeeth College Of Engineering,Navi Mumbai,2.022020e+15,Mr.,Avishkar Salunke,Male,8080848958,9.765400e+09,avishkarsalunke294@gmail.com,...,"C++, Python,SQL,Data Science, Machine Learning...",45,NaN,NaN,NaN,No,ABHIYAAN Football Runnerup (2025),7,no,0
3,4,Bharati Vidyapeeth College Of Engineering,Navi Mumbai,2.022020e+15,Mr.,Shubham Suresh Bhayde,Male,9324448343,9.324446e+09,shubhambhayde06@gmail.com,...,"HTML, CSS, JavaScript, Python, C++",45,NaN,NaN,NaN,NaN,no,0,no,0
4,5,Bharati Vidyapeeth College Of Engineering,Navi Mumbai,2.021020e+15,Mr.,Kushal Nilesh Khivasara,Male,7020822801,9.422176e+09,kushal.khivasara@outlook.com,...,"C++, Python, SQL, Machine Learning, Microsoft ...",50,NaN,NaN,NaN,No,no,0,no,0

In [19]:
# STEP 4: Define mindset function
def determine_mindset(x):
    x = str(x).lower().strip()
    if x in ['na', 'nan', '', 'none']:
        return 'unknown'
    if any(word in x for word in ['study', 'higher', 'masters', 'education', 'pg', 'research', 'mba', 'm.tech']):
        return 'further studies'
    elif any(word in x for word in ['job', 'work', 'industry', 'corporate', 'career', 'software', 'developer', 'engineer', 'no']):
        return 'job'
    else:
        return 'unknown'


# STEP 5: Apply to dataframe
df['mindset'] = df['Legal pursuit'].apply(determine_mindset)

# STEP 6: Show distribution
print("üéì Mindset distribution:")
print(df['mindset'].value_counts())
df[['Legal pursuit', 'mindset']].head(10)

üéì Mindset distribution:
mindset
job        32
unknown    11
Name: count, dtype: int64

  Legal pursuit  mindset
0            NO      job
1            No      job
2            No      job
3           NaN  unknown
4            No      job
5            No      job
6           NaN  unknown
7            No      job
8           NaN  unknown
9            No      job

In [27]:
# # STEP 3: Select relevant columns
# features = [
#     'Graduation CGPA',
#     'Year of Graduation',
#     'Total Experienced (In Years)',
#     'Technonlogies/Skills known',
#     'Proficiency in foreign language (Beginner / Advanced / Mastery)'
# ]

# clean_df = df[features + ['mindset', 'Legal pursuit']].copy()

# # STEP 4: Convert to numeric where applicable
# clean_df['Graduation CGPA'] = pd.to_numeric(clean_df['Graduation CGPA'], errors='coerce')
# clean_df['Year of Graduation'] = pd.to_numeric(clean_df['Year of Graduation'], errors='coerce')
# clean_df['Total Experienced (In Years)'] = pd.to_numeric(clean_df['Total Experienced (In Years)'], errors='coerce')

# # STEP 5: Handle missing values
# clean_df['Graduation CGPA'].fillna(clean_df['Graduation CGPA'].median(), inplace=True)
# clean_df['Year of Graduation'].fillna(clean_df['Year of Graduation'].mode()[0], inplace=True)
# clean_df['Total Experienced (In Years)'].fillna(0, inplace=True)
# clean_df['Proficiency in foreign language (Beginner / Advanced / Mastery)'].fillna('Beginner', inplace=True)

# # STEP 6: Process skills and proficiency
# clean_df['num_skills'] = clean_df['Technonlogies/Skills known'].fillna('').apply(lambda x: len(str(x).split(',')))

# lang_map = {'Beginner': 0, 'Advanced': 1, 'Mastery': 2}
# clean_df['lang_proficiency'] = clean_df['Proficiency in foreign language (Beginner / Advanced / Mastery)'].map(lang_map)

# # STEP 7: Final features for model training
# final_features = ['Graduation CGPA', 'Year of Graduation', 'Total Experienced (In Years)', 'num_skills', 'lang_proficiency']

# # Drop rows where mindset is unknown (we can‚Äôt use those for training)
# train_df = clean_df[clean_df['mindset'] != 'unknown'].copy()

# # Check rows and structure
# print("‚úÖ Final cleaned data shape:", train_df.shape)
# train_df[final_features + ['mindset']].head()

# STEP 3: Select relevant columns
features = [
    'Graduation CGPA',
    'Year of Graduation',
    'Total Experienced (In Years)',
    'Technonlogies/Skills known',
    'Proficiency in foreign language (Beginner / Advanced / Mastery)'
]

clean_df = df[features + ['mindset', 'Legal pursuit']].copy()

# STEP 4: Convert to numeric where applicable
clean_df['Graduation CGPA'] = pd.to_numeric(clean_df['Graduation CGPA'], errors='coerce')
clean_df['Year of Graduation'] = pd.to_numeric(clean_df['Year of Graduation'], errors='coerce')
clean_df['Total Experienced (In Years)'] = pd.to_numeric(clean_df['Total Experienced (In Years)'], errors='coerce')

# STEP 5: Handle missing values
clean_df['Graduation CGPA'].fillna(clean_df['Graduation CGPA'].median(), inplace=True)
clean_df['Year of Graduation'].fillna(clean_df['Year of Graduation'].mode()[0], inplace=True)
clean_df['Total Experienced (In Years)'].fillna(0, inplace=True)
clean_df['Proficiency in foreign language (Beginner / Advanced / Mastery)'].fillna('Beginner', inplace=True)

# STEP 6: Process skills and proficiency
clean_df['num_skills'] = clean_df['Technonlogies/Skills known'].fillna('').apply(lambda x: len(str(x).split(',')))
lang_map = {'Beginner': 0, 'Advanced': 1, 'Mastery': 2}
clean_df['lang_proficiency'] = clean_df['Proficiency in foreign language (Beginner / Advanced / Mastery)'].map(lang_map)

# STEP 7: Final features for model training
final_features = ['Graduation CGPA', 'Year of Graduation', 'Total Experienced (In Years)', 'num_skills', 'lang_proficiency']

# Drop rows where mindset is unknown (we can‚Äôt use those for training)
train_df = clean_df[clean_df['mindset'] != 'unknown'].copy()

# ‚úÖ STEP 7.7: Inject mock "further studies" examples
extra_rows = pd.DataFrame([
    {
        'Graduation CGPA': 8.5,
        'Year of Graduation': 2025,
        'Total Experienced (In Years)': 0.0,
        'Technonlogies/Skills known': 'Python, SQL',
        'Proficiency in foreign language (Beginner / Advanced / Mastery)': 'Advanced',
        'Legal pursuit': 'Masters in Data Science',
        'mindset': 'further studies'
    },
    {
        'Graduation CGPA': 9.0,
        'Year of Graduation': 2025,
        'Total Experienced (In Years)': 0.0,
        'Technonlogies/Skills known': 'ML, Python, Statistics',
        'Proficiency in foreign language (Beginner / Advanced / Mastery)': 'Mastery',
        'Legal pursuit': 'Plan for higher studies abroad',
        'mindset': 'further studies'
    }
])

# Add derived features to extra rows
extra_rows['num_skills'] = extra_rows['Technonlogies/Skills known'].apply(lambda x: len(str(x).split(',')))
extra_rows['lang_proficiency'] = extra_rows['Proficiency in foreign language (Beginner / Advanced / Mastery)'].map(lang_map)

# Append to training data
train_df = pd.concat([train_df, extra_rows], ignore_index=True)

# üîç Check shape and sample
print("‚úÖ Final cleaned data shape (after adding):", train_df.shape)
print(train_df['mindset'].value_counts())
train_df[final_features + ['mindset']].head()

‚úÖ Final cleaned data shape (after adding): (34, 9)
mindset
job                32
further studies     2
Name: count, dtype: int64

C:\Users\Himanshu\AppData\Local\Temp\ipykernel_12364\1068086179.py:56: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  clean_df['Graduation CGPA'].fillna(clean_df['Graduation CGPA'].median(), inplace=True)
C:\Users\Himanshu\AppData\Local\Temp\ipykernel_12364\1068086179.py:57: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  clean_df['Year of Graduation'].fillna(clean_df['Year of Graduation'].mode()[0], inplace=True)
C:\Users\Himanshu\AppData\Local\Temp\ipykernel_12364\1068086179.py:58: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  clean_df['Total Experienced (In Years)'].fillna(0, inplace=True)
C:\Users\Himanshu\AppData\Local\Temp\ipykernel_12364\1068086179.py:59: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  clean_df['Proficiency in foreign language (Beginner / Advanced / Mastery)'].fillna('Beginner', inplace=True)

,Graduation CGPA,Year of Graduation,Total Experienced (In Years),num_skills,lang_proficiency,mindset
0,8.39,2025,0.0,9,0.0,job
1,8.52,2025,0.0,14,0.0,job
2,8.56,2025,0.0,9,0.0,job
3,8.01,2025,0.0,12,0.0,job
4,8.76,2025,0.0,6,NaN,job

In [23]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Select training data
X = train_df[final_features]
y = train_df['mindset']

# Split and scale
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Train mindset model
model_mindset = RandomForestClassifier(random_state=42)
model_mindset.fit(X_train_scaled, y_train)

print("‚úÖ Mindset model trained!")
print("Accuracy:", model_mindset.score(X_test_scaled, y_test))

‚úÖ Mindset model trained!
Accuracy: 1.0

In [24]:
# Filter only job-seeking students
job_df = train_df[train_df['mindset'] == 'job'].copy()

# Create clean career_path label
job_df['career_path'] = job_df['Legal pursuit'].apply(lambda x: str(x).strip().title())

# Drop rows with empty or invalid career paths
job_df = job_df[job_df['career_path'].str.lower().isin(['no', 'nan', '', 'none']) == False]

# Extract features and labels
X2 = job_df[final_features]
y2 = job_df['career_path']

if not X2.empty and y2.nunique() > 1:
    X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.2, random_state=42)
    X2_train_scaled = scaler.transform(X2_train)
    X2_test_scaled = scaler.transform(X2_test)

    model_career = RandomForestClassifier(random_state=42)
    model_career.fit(X2_train_scaled, y2_train)

    print("‚úÖ Career path model trained!")
    print("Accuracy:", model_career.score(X2_test_scaled, y2_test))
else:
    model_career = None
    print("‚ö†Ô∏è Not enough valid data to train career path model")

‚ö†Ô∏è Not enough valid data to train career path model

In [25]:
print("üéØ Unique career paths:")
print(job_df['career_path'].value_counts())

print("\nüßÆ Number of job-seeking students with valid career paths:", len(job_df))

üéØ Unique career paths:
Series([], Name: count, dtype: int64)

üßÆ Number of job-seeking students with valid career paths: 0

In [26]:
import pickle
import os

# Create model directory if it doesn't exist
model_dir = r"E:\FY25_Candidates database\Models"
os.makedirs(model_dir, exist_ok=True)

# Save the mindset model
with open(os.path.join(model_dir, 'model_mindset.pkl'), 'wb') as f:
    pickle.dump(model_mindset, f)

# Save the scaler
with open(os.path.join(model_dir, 'scaler.pkl'), 'wb') as f:
    pickle.dump(scaler, f)

print("‚úÖ Mindset model and scaler saved in:", model_dir)

‚úÖ Mindset model and scaler saved in: E:\FY25_Candidates database\Models